.first-card {
    background-color: #00aeff;
    width: 370px;
    height: 600px;
}

.second-card {
    background-color: #0703e7;
    width: 750px;
    height: 100px;

}

.text-card {
    color: rgb(250, 5, 5);
    background-color: rgb(56, 110, 124);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}

.third-card {
    width: 80%;
    height: 60vh;
    background-color: #025006;

}

.fourth-card {
    width: 100vw;
    height: 50vh;
    background-color: rgb(238, 255, 0);

}